<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.java_school.mybatis.BoardMapper">

    <select id="selectListOfBoardCodeBoardName" resultType="Board">
        SELECT boardcd,boardnm FROM board
    </select>
    
    <select id="selectListOfBoardCodeBoardKoreanName" resultType="Board">
        SELECT boardcd,boardnm_ko boardnm FROM board
    </select>
	
	<select id="selectListOfArticles" parameterType="hashmap" resultType="Article">
	SELECT articleno, title, regdate, hit, attachfileNum, commentNum 
	FROM (
		SELECT rownum r,a.* 
			FROM (
				SELECT 
					a.articleno, a.title, a.regdate, a.hit, m.name, 
					count(distinct(f.attachfileno)) attachfileNum, 
					count(distinct(c.commentno)) commentNum
				FROM 
					article a, attachfile f, comments c, member m
				WHERE
					a.articleno = f.articleno(+) 
					AND a.articleno = c.articleno(+) 
					AND a.email = m.email(+)
					AND a.boardcd = #{boardCd}
					<if test="searchWord != null and searchWord != ''">
					AND (title LIKE '%${searchWord}%' 
						OR DBMS_LOB.INSTR(content, '${searchWord}') > 0)
					</if>
				GROUP BY a.articleno, title, a.regdate, hit, m.name
				ORDER BY articleno DESC
				) a
		)
	WHERE r BETWEEN #{start} AND #{end}
	</select>

	<select id="selectCountOfArticles" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM article 
		WHERE 
			boardcd = #{boardCd}
			<if test="searchWord != null and searchWord != ''">
			AND (title LIKE '%${searchWord}%' 
				OR 	DBMS_LOB.INSTR(content, '${searchWord}') > 0)
			</if>
	</select>

	<insert id="insert" parameterType="Article" useGeneratedKeys="true">
		<selectKey keyProperty="articleNo" resultType="int" order="BEFORE">
			SELECT seq_article.nextval FROM dual
		</selectKey>
		INSERT INTO article (articleno, boardcd, title, content, email, hit, regdate)
		VALUES
		(#{articleNo}, #{boardCd}, #{title}, #{content}, #{email}, 0, sysdate)
	</insert>
	
	<insert id="insertAttachFile" parameterType="AttachFile">
		INSERT INTO attachFile (attachfileno, filename, filetype, filesize, articleno, email)
		VALUES
		(seq_attachfile.nextval, #{filename}, #{filetype}, #{filesize}, #{articleNo}, #{email})
	</insert>

	<update id="update" parameterType="Article">
		UPDATE article 
		SET title = #{title}, content = #{content} 
		WHERE articleno = #{articleNo}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM article WHERE articleno = #{articleNo}
	</delete>

	<update id="updateHitPlusOne" parameterType="int">
		UPDATE article SET hit = hit + 1 WHERE articleno = #{articleNo}
	</update>

	<select id="selectOne" parameterType="int" resultType="Article">
		SELECT 
			articleno,
			title,
			content,
			a.email,
			NVL(name, 'Anonymous') name,
			hit,
			regdate
		FROM article a, member m
		WHERE 
			a.email = m.email(+)
			AND articleno = #{articleNo}
	</select>

	<select id="selectNextOne" parameterType="hashmap" resultType="Article">
		SELECT articleno, title
		FROM
			(SELECT rownum r,a.*
			FROM
				(SELECT articleno, title 
				FROM article 
				WHERE 
					boardCd = #{boardCd} 
					AND articleno &gt; #{articleNo}
				<if test="searchWord != null and searchWord != ''">
					AND (title LIKE '%${searchWord}%' 
						OR 	DBMS_LOB.INSTR(content, '${searchWord}') > 0)
				</if> 
				ORDER BY articleno) 
			a)
		WHERE r = 1
	</select>
	
	<select id="selectPrevOne" parameterType="hashmap" resultType="Article">
		SELECT articleno, title
		FROM
			(SELECT rownum r,a.*
			FROM
				(SELECT articleno, title 
				FROM article 
				WHERE 
					boardCd = #{boardCd} 
					AND articleno &lt; #{articleNo}
				<if test="searchWord != null and searchWord != ''">
					AND (title LIKE '%${searchWord}%' 
					OR DBMS_LOB.INSTR(content, '${searchWord}') > 0)
				</if> 
				ORDER BY articleno DESC)
				a)
		WHERE r = 1
	</select>

	<select id="selectListOfAttachFiles" parameterType="int" resultType="AttachFile">
		SELECT 
			attachfileno,
			filename,
			filetype,
			filesize,
			articleno,
			email 
		FROM attachfile 
		WHERE articleno = #{articleNo} 
		ORDER BY attachfileno
	</select>

	<delete id="deleteFile" parameterType="int">
		DELETE FROM attachfile WHERE attachfileno = #{attachFileNo}
	</delete>

	<select id="selectOneBoardName" parameterType="string" resultType="Board">
		SELECT boardnm,boardnm_ko FROM board WHERE boardcd = #{boardCd}
	</select>

	<insert id="insertComment" parameterType="Comment">
		INSERT INTO comments (commentno, articleno, email, memo, regdate)
		VALUES (seq_comments.nextval, #{articleNo}, #{email}, #{memo}, sysdate)
	</insert>

	<update id="updateComment" parameterType="Comment">
		UPDATE comments SET memo = #{memo} WHERE commentno = #{commentNo}
	</update>
	
	<delete id="deleteComment" parameterType="int">
		DELETE FROM comments WHERE commentno = #{commentNo}
	</delete>

	<select id="selectListOfComments" parameterType="int" resultType="Comment">
		SELECT 
			commentno, 
			articleno, 
			c.email, 
			NVL(name, 'Anonymous') name,
			memo, 
			regdate
		FROM comments c, member m
		WHERE 
			c.email = m.email(+)
			AND articleno = #{articleNo}
		ORDER BY commentno DESC
	</select>

	<select id="selectOneAttachFile" parameterType="int" resultType="AttachFile">
		SELECT
			attachfileno,
			filename,
			filetype,
			filesize,
			articleno,
			email
		FROM
			attachfile
		WHERE
			attachfileno = #{attachfileno}
	</select>

	<select id="selectOneComment" parameterType="int" resultType="Comment">
		SELECT 
			commentno,
			articleno,
			email,
			memo,
			regdate 
		FROM comments 
		WHERE
			commentno = #{commentNo}
	</select>

 </mapper>