<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.java_school.mybatis.UserMapper">

	<insert id="insert" parameterType="User">
		INSERT INTO member VALUES (#{email}, #{passwd}, #{name}, #{mobile})
	</insert>

	<insert id="insertAuthority">
		INSERT INTO authorities VALUES (#{email}, #{authority})
	</insert>

	<update id="update" parameterType="User">
		UPDATE member SET name = #{name}, mobile = #{mobile}
		WHERE email = #{email}
	</update>

	<update id="updatePasswd">
		UPDATE member SET passwd = #{newPasswd}
		WHERE passwd = #{currentPasswd} AND email = #{email}
	</update>

	<delete id="delete">
		DELETE FROM member WHERE email = #{email}
	</delete>

	<delete id="deleteAuthority">
		DELETE FROM authorities
		WHERE email = #{email}
	</delete>

	<select id="selectOne" resultMap="UserResult">
		SELECT email, passwd, name, mobile
		FROM member
		WHERE email = #{email}
	</select>

	<resultMap id="UserResult" type="User">
		<id property="email" column="email" />
		<collection property="authorities" javaType="ArrayList" column="email" ofType="string" select="selectAuthoritiesOfUser" />
	</resultMap>

	<update id="updatePasswdByAdmin" parameterType="User">
		UPDATE member SET passwd = #{passwd}
		WHERE email = #{email}
	</update>

	<select id="selectAuthoritiesOfUser" resultType="string">
		SELECT authority
		FROM authorities
		WHERE email = #{email}
	</select>

	<delete id="deleteAuthorityOfUser">
		DELETE FROM authorities
		WHERE email = #{email} AND authority = #{authority}
	</delete>

	<!-- MySql -->
	
	<select id="selectTotalCount" resultType="int">
		SELECT count(*)
		FROM member
		<if test="search != null and search != ''">
		WHERE
			email LIKE concat('%', #{search}, '%')
			OR name LIKE concat('%', #{search}, '%')
			OR mobile LIKE concat('%', #{search}, '%')
		</if>
	</select>
		
	<select id="selectAll" parameterType="hashmap" resultMap="UserResult">
		SELECT	email, name, mobile
		FROM
		member
		<if test="search != null and search != ''">
		WHERE
			email LIKE concat('%', #{search}, '%')
			OR name LIKE concat('%', #{search}, '%')
			OR mobile LIKE concat('%', #{search}, '%')
		</if>
		ORDER BY name ASC
		LIMIT ${offset}, ${rowCount}
	</select>


	
	<!-- Oracle -->
<!-- 	
	<select id="selectTotalCount" resultType="int">
		SELECT count(*)
		FROM member
		<if test="search != null and search != ''">
		WHERE 
			email LIKE '%' || #{search} || '%'
			OR name LIKE '%' || #{search} || '%'
			OR mobile LIKE '%' || #{search} || '%'
		</if>
	</select>
		
	<select id="selectAll" parameterType="hashmap" resultMap="UserResult">
		SELECT email, name, mobile
		FROM (
		SELECT ROWNUM R, a.*
		FROM (
		SELECT email, name, mobile
		FROM member
		<if test="search != null and search != ''">
		WHERE 
			email LIKE '%' || #{search} || '%'
			OR name LIKE '%' || #{search} || '%'
			OR mobile LIKE '%' || #{search} || '%'
		</if>
		ORDER BY name ASC
		) a
		)
		WHERE R BETWEEN #{startRecord} AND #{endRecord}
	</select> -->

</mapper>