@CHARSET "UTF-8";
/*** 공통 시작***/
html, body {
	margin: 0;
	padding: 0;
	font-family: "돋움", dotum, sans-serif; 
}

div, input, select, textarea, td {
	color: #646464; 
	font-size: 12px;
	font-family: "돋움", dotum, sans-serif; 
}

table {
	border-collapse: collapse;
}

img {
	border: 0; 
}

form { 
	margin: 0;
	padding: 0; 
}
/*** 공통 끝***/

#wrap {
	margin: 0 auto;
	padding: 0;
	width: 1000px;
}

#header {
	width: 1000px;
	height: 48px;
}

#header h1 {
	margin: 0;
	padding: 0;
	position: relative;
	top: 9px;
}

#main-menu {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 1000px;
	height: 35px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 12px;
	background: #92B91C;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#container {
	float: left;
	width: 100%;
	border-top: 1px solid #DAEAAA;
}

#content {
	margin-left: 180px;
	margin-right: 210px;
	padding-left: 9px;
	padding-right: 9px;
	border-left: 1px solid #DAEAAA;
	border-right: 1px solid #DAEAAA;
	font-size: 13px;
	line-height: 19px;
}

#sidebar {
	float: left;
	width: 173px;
	margin-left: -1000px;
	margin-bottom: 20px;
	border: 1px solid #DAEAAA;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	position: relative;
	top: 7px;
}

#extra {
	float: left;
	width: 205px;
	margin-left: -205px;
	position: relative;
	top: 7px;
}

#footer {
	clear: both;
	width: 1000px;
	height: 70px;
	font-size: 11px;
	color: #8d8d8d;
	letter-spacing:-1px;
	border-top: 1px solid #DAEAAA;	
}

ul#nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	top: 9px;
	left: 17px;
}	

ul#nav li {
	float: left;
	padding: 0 17px 0 8px;
	background: url('../images/bull_circle.gif') no-repeat 0 50%;
}

ul#nav li a {
	text-decoration: none;
	color: #FFF;
}

ul#nav li a:hover {
	text-decoration: underline;
	background: none;
	color: #FFF;
}

#sidebar h1 {
	margin: 0;
	padding: 14px;
	background: #92B91C;
	color: #FFF;
	font-size: 16px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#sidebar a {
	display: block;
	padding: 6px 10px 6px 10px;
	color: #64615D;
	background: #DAEAAA;
	text-decoration: none;
	font-weight: bold;
}

#sidebar a:hover {
	background-color: #EDFEBA;
	color: #64615D;
}

#sidebar li li a {
	display: block;
	color: #64615D;
	padding: 5px 3px 4px 17px;
	text-decoration: none;
	border-bottom: 1px solid #FFF;
	font-weight: normal;
	background: #FFF url('../images/circle.gif') no-repeat 5% 50%;
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;	
	position: relative;
	left: 8px;
}

#footer ul li {
	float: left;
	padding: 6px 12px 6px 8px;
	background: url('../images/circle.gif') no-repeat 0 50%;
}

#footer a {
	color: #8D8D8D;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer ul li#company-info {
	margin-left: 350px;
	letter-spacing: 0;
	background: none;
}

#url-navi {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 8px;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 11px;
	color: #666;
	border-bottom: 1px solid #DAEAAA;
}

#content h1 {
	margin: 9px 0;
	padding: 7px 0;
	font-size: 15px;
}

#bbs table {
	width: 100%;
	margin: 0 0 7px 0;
}

#bbs table th {
	color: #92B91C;
	border-top: 1px solid #92B91C;
	border-bottom: 1px solid #92B91C;
}

#bbs td {
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: silver 1px solid;
}

#bbs td a {
	color: #555;
	text-decoration: none;
}

#bbs td a:hover {
	color:#555;
	text-decoration: underline;
}

#paging {
	text-align: center;
}

#paging a {
	color: #555;
	text-decoration: none;
	font-weight: bold;
}

#paging a:hover {
	color: #555;
	text-decoration: underline;
}

.bbs-strong {
	color: #FFA500;
	font-weight: bold;
}

#list-menu {
	text-align: right;
}

#search {
	text-align: center;
	padding-bottom: 15px;
}

#gul-content span#date-writer-hit {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #555;
	text-align: right;
}

#gul-content {
/* 	border-bottom: 1px solid #ebebeb; */
}

#gul-content p {
	margin: 0 0 15px 0;
	padding: 0;
	color: #333;
}

.comments {
	border-top: 1px solid #ebebeb;
/* 	border-top: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
 	border-bottom: 1px solid #ebebeb; */ 
}

.comments span.writer {
	display: block;
	float: left;
	margin: 3px;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	color: #555;
}

.comments span.date {
	display: block;
	float: left;
	margin: 3px;
	padding: 0;
	font-size: 12px;
	color: #555;
}

.comments span.modify-del {
	display: block;
	float: right;
	margin: 3px;
	padding: 0;
	font-size: 12px;
	color: #555;
}

.comments a {
	color: #555;
	text-decoration: none;
	font-size: 11px;
}

.comments a:hover {
	color: #555;
	text-decoration: underline;
}

.comments p {
	clear: both;
	margin: 0;
	padding: 0 3px 3px 3px;
	color: #555;
	font-size: 11px;
}

.modify-comment {
	clear: both; 
	padding: 0.22em 2.22em 0.22em 3.22em; 
}

.modify-comment-ta {
	border: 1px solid silver;
	padding: 3px;
	width: 99%;
	color:#555;
	background-color: #eee;
	font-size: 11px; 
}

#addComment {
 /*    margin-top: 10px; */
    margin-bottom: 5px;
    padding: 0.22em;
    border: 1px solid #eee;
    background-color: #fafbf7;
}

#addComment textarea {
    width: 99%;
    padding: 3px;
    border: 0;
    color: #555;    
}

.next-prev {
	margin: 7px 0;
	border-top: 1px solid #e1e1e1;
}

.next-prev > p {
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #e1e1e1;
	font-size: 12px;
	color: #333;
}

.next-prev a {
	color: #333;
	text-decoration: none;
}

.next-prev a:hover {
	color: #333;
	text-decoration: underline;
}

.view-menu {
	height: 22px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

#content h2 {
	margin: 9px 0 0 0;
	padding: 0;
	font-size: 13px;
	border-bottom: 1px solid #ebebeb;
}

#write-form td {
	border: none;
}

#write-form textarea {
	width: 99%;
}

#extra img {
	width: 203px;
}

#extra a {
	display: block;
	border: 1px solid #DAEAAA;
	margin-bottom: 7px;
}

#extra a:hover {
	opacity: 0.7;
}

.error {
	color: red;
}
