<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://mybatis.org/schema/mybatis-spring 
    	http://mybatis.org/schema/mybatis-spring.xsd">

	<security:global-method-security pre-post-annotations="enabled" />
    	
	<!-- 스프링의 DispatcherServet에게 정적인 자원을 알려준다.  -->
	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	
	<mvc:annotation-driven />
	
	<context:component-scan
		base-package="net.java_school.board.spring,
 			net.java_school.user.spring,
 			net.java_school.home.spring,
 			net.java_school.java.spring,
			net.java_school.javascript.spring,
			net.java_school.board,
			net.java_school.user" />

	<mybatis:scan base-package="net.java_school.mybatis" />

	<!-- ViewResolver -->
	<bean id="internalResourceViewResolver" 
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	  <property name="defaultErrorView" value="error" />
	  <property name="exceptionMappings">
	    <props>
	      <prop key="AccessDeniedException">
	        error
	      </prop>
	    </props>
	  </property>
	</bean> 

</beans>